<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Syntax Highlighting Post</title>
  <meta name="description" content="Demo post displaying the various ways of highlighting code in Markdown.">

  <link rel="stylesheet" href="http://trending.bitbucket.org/blog/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://trending.bitbucket.org/blog/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://trending.bitbucket.org/blog/css/main.css">

  <link rel="canonical" href="http://trending.bitbucket.org/blog/2013/08/16/code-highlighting-post.html">
  <link rel="alternate" type="application/rss+xml" title="Trending in Bitbucket blog" href="http://trending.bitbucket.org/blog/feed.xml" />
</head>


  <body>

    <div class="container-fluid" id="main-layout">
      <div class="sidebar col-sm-12 col-md-3">
        


<div class="header">

  
  <div class="row visible-md-block visible-lg-block">
    <img class="author-avatar" src="http://trending.bitbucket.org/blog/img/avatar.jpg" alt="trending-bitbucket">
  </div>
  
  <div class="row">
    <a href="http://trending.bitbucket.org/blog/" class="brand-title">Trending-bitbucket</a>
    <span class="brand-tagline">Vote for this project at http://devpost.com/software/trending-in-bitbucket</span>
    <nav class="nav">
      <ul class="nav-list">
         
        <li class="nav-item">
          <a href="http://trending.bitbucket.org/blog/archive/">Archive</a> <span>/</span>
        </li>
                
        <li class="nav-item">
          <a href="http://trending.bitbucket.org/blog/tags/">Tags</a> <span>/</span>
        </li>
          
        <li class="nav-item">
          <a href="http://trending.bitbucket.org/blog/theme-setup/">Theme Setup</a>
        </li>
         
      </ul>
    </nav>
    <div class="social-links">
  <ul>
    <li><a href="mailto:trending.bitbucket.org@gmail.com" class="social-link-item" target="_blank"><i class="fa fa-fw fa-envelope"></i></a></li>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </ul>
</div>

  </div>

</div>

      </div>
      <div class="content col-sm-12 col-md-9">
        <div class="post">


  <header class="post-header">
    <h1>Syntax Highlighting Post</h1>
    <p class="post-meta">Aug 16, 2013</p>
  </header>

  <article class="post-content">
    <p>Syntax highlighting is a feature that displays source code, in different colors and fonts according to the category of terms. This feature facilitates writing in a structured language such as a programming language or a markup language as both structures and syntax errors are visually distinct. Highlighting does not affect the meaning of the text itself; it is intended only for human readers.<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup></p>

<h3 id="pygments-code-blocks">Pygments Code Blocks</h3>

<p>To modify styling and highlight colors edit <code>/_sass/_pygments.scss</code>.</p>

<div class="highlight"><pre><code class="language-css" data-lang="css"><span class="nf">#container</span> <span class="p">{</span>
    <span class="k">float</span><span class="o">:</span> <span class="k">left</span><span class="p">;</span>
    <span class="k">margin</span><span class="o">:</span> <span class="m">0</span> <span class="m">-240px</span> <span class="m">0</span> <span class="m">0</span><span class="p">;</span>
    <span class="k">width</span><span class="o">:</span> <span class="m">100%</span><span class="p">;</span>
<span class="p">}</span></code></pre></div>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">&quot;pagination&quot;</span> <span class="na">role=</span><span class="s">&quot;navigation&quot;</span><span class="nt">&gt;</span>
    {% if page.previous %}
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ site.url }}{{ page.previous.url }}&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">title=</span><span class="s">&quot;{{ page.previous.title }}&quot;</span><span class="nt">&gt;</span>Previous article<span class="nt">&lt;/a&gt;</span>
    {% endif %}
    {% if page.next %}
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ site.url }}{{ page.next.url }}&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">title=</span><span class="s">&quot;{{ page.next.title }}&quot;</span><span class="nt">&gt;</span>Next article<span class="nt">&lt;/a&gt;</span>
    {% endif %}
<span class="nt">&lt;/nav&gt;</span><span class="c">&lt;!-- /.pagination --&gt;</span></code></pre></div>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="k">module</span> <span class="nn">Jekyll</span>
  <span class="k">class</span> <span class="nc">TagIndex</span> <span class="o">&lt;</span> <span class="no">Page</span>
    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">site</span><span class="p">,</span> <span class="n">base</span><span class="p">,</span> <span class="n">dir</span><span class="p">,</span> <span class="n">tag</span><span class="p">)</span>
      <span class="vi">@site</span> <span class="o">=</span> <span class="n">site</span>
      <span class="vi">@base</span> <span class="o">=</span> <span class="n">base</span>
      <span class="vi">@dir</span> <span class="o">=</span> <span class="n">dir</span>
      <span class="vi">@name</span> <span class="o">=</span> <span class="s1">&#39;index.html&#39;</span>
      <span class="nb">self</span><span class="o">.</span><span class="n">process</span><span class="p">(</span><span class="vi">@name</span><span class="p">)</span>
      <span class="nb">self</span><span class="o">.</span><span class="n">read_yaml</span><span class="p">(</span><span class="no">File</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">base</span><span class="p">,</span> <span class="s1">&#39;_layouts&#39;</span><span class="p">),</span> <span class="s1">&#39;tag_index.html&#39;</span><span class="p">)</span>
      <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s1">&#39;tag&#39;</span><span class="o">]</span> <span class="o">=</span> <span class="n">tag</span>
      <span class="n">tag_title_prefix</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;tag_title_prefix&#39;</span><span class="o">]</span> <span class="o">||</span> <span class="s1">&#39;Tagged: &#39;</span>
      <span class="n">tag_title_suffix</span> <span class="o">=</span> <span class="n">site</span><span class="o">.</span><span class="n">config</span><span class="o">[</span><span class="s1">&#39;tag_title_suffix&#39;</span><span class="o">]</span> <span class="o">||</span> <span class="s1">&#39;&amp;#8211;&#39;</span>
      <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s1">&#39;title&#39;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">tag_title_prefix</span><span class="si">}#{</span><span class="n">tag</span><span class="si">}</span><span class="s2">&quot;</span>
      <span class="nb">self</span><span class="o">.</span><span class="n">data</span><span class="o">[</span><span class="s1">&#39;description&#39;</span><span class="o">]</span> <span class="o">=</span> <span class="s2">&quot;An archive of posts tagged </span><span class="si">#{</span><span class="n">tag</span><span class="si">}</span><span class="s2">.&quot;</span>
    <span class="k">end</span>
  <span class="k">end</span>
<span class="k">end</span></code></pre></div>

<h3 id="standard-code-block">Standard Code Block</h3>

<pre><code>&lt;nav class="pagination" role="navigation"&gt;
    {% if page.previous %}
        &lt;a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}"&gt;Previous article&lt;/a&gt;
    {% endif %}
    {% if page.next %}
        &lt;a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}"&gt;Next article&lt;/a&gt;
    {% endif %}
&lt;/nav&gt;&lt;!-- /.pagination --&gt;
</code></pre>

<h3 id="fenced-code-blocks">Fenced Code Blocks</h3>

<p>To modify styling and highlight colors edit <code>/_sass/_coderay.scss</code>. Line numbers and a few other things can be modified in <code>_config.yml</code>. Consult <a href="http://jekyllrb.com/docs/configuration/">Jekyll’s documentation</a> for more information.</p>

<pre><code class="language-css">#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
</code></pre>

<pre><code class="language-html">&lt;nav class="pagination" role="navigation"&gt;
    {% if page.previous %}
        &lt;a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}"&gt;Previous article&lt;/a&gt;
    {% endif %}
    {% if page.next %}
        &lt;a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}"&gt;Next article&lt;/a&gt;
    {% endif %}
&lt;/nav&gt;&lt;!-- /.pagination --&gt;
</code></pre>

<pre><code class="language-ruby">module Jekyll
  class TagIndex &lt; Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = 'index.html'
      self.process(@name)
      self.read_yaml(File.join(base, '_layouts'), 'tag_index.html')
      self.data['tag'] = tag
      tag_title_prefix = site.config['tag_title_prefix'] || 'Tagged: '
      tag_title_suffix = site.config['tag_title_suffix'] || '&amp;#8211;'
      self.data['title'] = "#{tag_title_prefix}#{tag}"
      self.data['description'] = "An archive of posts tagged #{tag}."
    end
  end
end
</code></pre>

<h3 id="github-gist-embed">GitHub Gist Embed</h3>

<p>An example of a Gist embed below.</p>

<noscript><pre>---
layout: page
title: Tag Index
description: &quot;An archive of posts sorted by tag.&quot;
---

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] | replace: &#39; &#39;, &#39;&amp;nbsp;&#39; }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split: &#39; &#39; | sort %}

&lt;ul class=&quot;tag-box inline&quot;&gt;
{% for tag in sortedtags %}
  {% for post in site.tags[tag] %}
		&lt;li&gt;&lt;a href=&quot;#{{ tag }}&quot;&gt;{{ tag }}&lt;/a&gt;&lt;/li&gt;
	{% endfor %}
{% endfor %}
&lt;/ul&gt;

{% for tag in sortedtags %}
	&lt;h2 id=&quot;{{ tag }}&quot;&gt;{{ tag }}&lt;/h2&gt;
	&lt;ul class=&quot;post-list&quot;&gt;
	{% for post in site.tags[tag] %}
		&lt;li&gt;&lt;a href=&quot;{{ site.url }}{{ post.url }}&quot;&gt;{{ post.title }}&lt;span class=&quot;entry-date&quot;&gt;&lt;time datetime=&quot;{{ post.date | date_to_xmlschema }}&quot; itemprop=&quot;datePublished&quot;&gt;{{ post.date | date: &quot;%B %d, %Y&quot; }}&lt;/time&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
	{% endfor %}
	&lt;/ul&gt;
{% endfor %}</pre></noscript>
<script src="https://gist.github.com/mmistakes/6589546.js"> </script>

<div class="footnotes">
  <ol>
    <li id="fn:1">
      <p><a href="http://en.wikipedia.org/wiki/Syntax_highlighting">http://en.wikipedia.org/wiki/Syntax_highlighting</a> <a href="#fnref:1" class="reversefootnote">&#8617;</a></p>
    </li>
  </ol>
</div>

  </article>

</div>

<div class="share-icons">
  <h6>SHARE ON</h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text=http://trending.bitbucket.org/blog/2013/08/16/code-highlighting-post.html" class="twitter btn" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://trending.bitbucket.org/blog/2013/08/16/code-highlighting-post.html" class="facebook btn" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url=http://trending.bitbucket.org/blog/2013/08/16/code-highlighting-post.html" class="google-plus btn" title="Share on Google Plus"><i class="fa fa-google-plus"></i><span> Google+</span></a>
    </li>
  </ul>
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'trending-bitbucket';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>





<div class="related-articles">
<h4>You might also enjoy</h4>
  <ul>
  
    <li><a href="http://trending.bitbucket.org/blog/2015/08/18/welcome-to-jekyll.html" title="Welcome to Jekyll!">Welcome to Jekyll!</a></li>
  
    <li><a href="http://trending.bitbucket.org/blog/2013/08/12/sample-link-post.html" title="Sample Link Post">Sample Link Post</a></li>
  
    <li><a href="http://trending.bitbucket.org/blog/2013/05/23/readability-feature-post.html" title="Post with Large Feature Image and Text">Post with Large Feature Image and Text</a></li>
  
  </ul>
</div><!-- /.related-articles -->


        <footer>
  &copy; 2015 Trending-bitbucket. Powered by <a href="http://jekyllrb.com/">Jekyll</a>, <a href="http://github.com/renyuanz/leonids/">leonids theme</a> made with <i class="fa fa-heart danger-text-color"></i>
</footer>

      </div>
    </div>

  </body>

  <script type="text/javascript" src="http://trending.bitbucket.org/blog/js/jquery-2.1.4.min.js"></script>
<script src="http://trending.bitbucket.org/blog/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://trending.bitbucket.org/blog/js/main.js"></script>


</html>
