.aui-header {
    color:#205081;
    background-color: white;
}

.aui-header-inner {
    margin-left: 20px;
}

.aui-header-logo-device {
    *color: #205081;

}

#blog-sidebar-promo {
/*    background-image: url('pencil.svg');
    background-position: 65% 95%;
    background-repeat:no-repeat;
    background-size:cover;*/
}